.project
*/node-log.log
logs/*.log
*.log
!.gitignore
game-server/node_modules/*
web-server/node_modules/*
.project
.settings/
**/*.svn
*.svn
*.swp
*.sublime-project
*.sublime-workspace

# Visual Studio 2015 cache/options directory
.vs/